<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFRygpi0d5cFjR89yUhrbqyPKaXiCnVtg</string>
	<key>GCM_SENDER_ID</key>
	<string>446302672981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theMarketApp</string>
	<key>PROJECT_ID</key>
	<string>the-ma-53488</string>
	<key>STORAGE_BUCKET</key>
	<string>the-ma-53488.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446302672981:ios:98524175d6ca03668a1cdc</string>
</dict>
</plist>